@charset "utf-8";

:root {
    --white:#fff;
    --gray:#424242;
}

#Main_Page {
 width:100%;}

.content{
width: 1100px; height: 100%; margin: 0 auto;
border-left:1px solid red; border-right:1px solid red;
position:relative; }

button {position:absolute; top:30%; left:0;}

#header {border-top:1px solid red; border-bottom:1px solid red;}
#header .content {
    background-color: pink; display: flex;
    flex-flow: column wrap; align-items: center;}

img[alt="logo"] { width: 200px; height: auto; margin: 30px 0 30px 0;}

#header ul {
    display: flex; justify-content: space-between;
    width: 100%; margin: 10px 0 10px 0;}

#header li {font-size: 1.5em; font-weight: 400; display: block;}


#DJ_Slider {
    background-color: skyblue; width: 100%; height: 700px; margin: 20px 0 20px 0;}

.bfore {width: 100%; font-size: 15pt; font-weight: 500; margin: 0 0 20px 0;}


#wrap1 {border-top:1px solid red; border-bottom:1px solid red;}
#wrap1 .content { display: flex; flex-flow: row nowrap; justify-content: space-between;}

div.ChartIn {
    width: 73%; height: 600px; background-color: blue;display: flex;
    flex-flow: row wrap; justify-content: space-between; align-content: space-between;}

div.ChartIn div { width: 49%; height: 17%; background-color: gold;}

div.MyMelon { width: 25%; height: 450px; background-color: yellowgreen; display: flex;
     flex-flow: row wrap; justify-content: center;align-content: flex-start;}

div.MyMelon div { width: 200px; height: 200px; background-color: brown;
    border-radius: 300px; margin-top: 20px;}


#wrap2 {border-top:1px solid red; border-bottom:1px solid red;}

#wrap2 .content { margin:20px auto 80px auto; display: flex;
    flex-flow: row nowrap; justify-content: space-between;}


div.video { width: 73%; height: 600px; background-color: blue; display: flex;
    flex-flow: row wrap; justify-content: space-between; align-content: space-between; }

div.video div { width: 32%; height: 42%; background-color: gold;}

div.upper { width: 25%; height: 500px; background-color: yellowgreen; display: flex;
    flex-flow: row wrap; justify-content: center;align-content: space-between;
    margin-top:-150px;}


div.upper table {width: 100%;}
div.upper table td {padding:8px; text-align: left; font-size:11pt;
border-bottom:1px solid #919191; transition:0.05s;}
div.upper table td:hover {padding:20px 8px 20px 8px;}

#wrap3 .content { height:300px; background-color: aqua; display:flex; flex-flow:row wrap; justify-content: space-between; align-items: flex-end; margin-bottom:20px;}
#wrap3 p {width: 100%;}
#wrap3 .content > div {width:19%; height:80%; background-color: bisque;}

.group {padding-top: 80px;}

#wrap4 {height:100px; margin:100px 0 180px 0; }
#wrap4 .content {background-color: aqua;}

.player .content {width:100%; height:85px; background-color: green; position:fixed; bottom:0;}

.come {width:80px; height:100px; background-color: yellowgreen; position:fixed;
    bottom: 15px; right:10%; border-radius:18px; padding:5px; text-align: center;}


    
@media screen and (max-width:1099px) {
    .content {width:100%;}
}

@media screen and (max-width:860px){

    #header ul {
        display: flex; flex-flow: row wrap; text-align: center;}
    #header li { width:28%; font-size: 1.2em; padding:7px;}

    #wrap1 .content {flex-flow:row wrap;}
    
    div.ChartIn {
        width: 100%; height: 400px; background-color: blue;display: flex;
        flex-flow: row wrap; justify-content: space-between; align-content: space-between;}
    
    div.ChartIn div { width: 50%; height: 20%; background-color: gold;}

    div.MyMelon { margin-top:70px; width: 48%; height:250px; background-color: yellowgreen; display: flex;
        flex-flow: row wrap; justify-content: left;align-content: center;}
   
   div.MyMelon div { width: 150px; height: 150px; background-color: brown;
       border-radius: 300px; margin-top: 0; margin-left:20px;}

       
       #wrap2 .content {flex-flow: row wrap; justify-content: space-between;}
    
    
    div.video { width: 100%; height: 400px; background-color: blue; display: flex;}
    
    div.video div { width: 32%; height: 42%; background-color: gold;}
    
    div.upper { width: 48%; height: 250px; background-color: yellowgreen; display: flex;
        flex-flow: row wrap; justify-content: right;align-content: space-between;
        margin-top:-700px; margin-left:420px;right:0;}

div.upper table {width: 100%;}
div.upper table td {padding:3px; font-size:0.5em;
border-bottom:1px solid #919191; transition:0.05s;}
div.upper table td:hover {padding:3px;}
}