@charset "utf-8";

.none {display: none;}

#Main_Page {width: 100%;}

/* 뮤비 슬라이더 */
#DJ_Slider {
    width: 100%;
    margin: 20px 0 20px 0;
    overflow: hidden;
    max-height: 700px;
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#DJ_Slider video {width: 100%;}

#DJ_Slider p {
    font-size: 15px;
    position:absolute;
    bottom:15px;
    color:rgb(223, 223, 223);

}

#DJ_Slider p a {
    color: rgb(223, 223, 223);
    opacity: 0.8;
    margin-left: 10px;
    font-size: 11px;
}

#DJ_Slider p span {
    color: rgb(223, 223, 223);
    font-weight: 600;
}

#DJ_Slider p a:hover {opacity:1;}


/* 국내 탑 백 음악 목록 */
#wrap1 {margin: 40px 0 80px 0;}

#wrap1 .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

div.ChartIn { /* 전체 묶음 */
    width: 73%;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

div.ChartIn div { /* 각 곡 묶음 */
    width: 49%;
    height: 17%;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
}

div.ChartIn div div { /* 앨범 이미지, 가수, 곡 묶음 */
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

div.ChartIn button { /* 우측 버튼 */
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-right: 20px;
    cursor: pointer;
    color: #c4c4c4;
    height:100%;
}

div.ChartIn button:hover {color: #757575}



.information { /* 곡 가사, 가수 정보 */
    padding-top: 10px;
    padding-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10pt;
}

.information span {font-size: 18PX;}


.chart:hover { /* 호버 색상변경 */
    background: #f0f0f0;
}

.chart > ul > li {width:100%; height:100%}


img[title="hover"] { /* 앨범 위 플레이버튼 */
    position: absolute;
    height: 100%;
    opacity: 0;
    transition: 0.2s;
}

img[title="hover"]:hover {
    opacity: 1;
    cursor: pointer;
}


/* 마이멜론 내 정보 */
div.MyMelon {
    width: 25%;
    height: 450px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


div.MyMelon div { /* 프로필사진 */
    width: 200px;
    height: 200px;
    border-radius: 300px;
    margin-top: 20px;
    overflow: hidden;
}

.MyMelon div img {width: 100%;}

.MyMelon .name {
    padding-top: 20px;
    line-height: 35px;
    text-align: center;
}

.name span {
    padding: 4px 13px;
    border: 1px solid #757575;
    border-radius: 20px;
    font-size: 12px;
}

.name img {
    width: 12px;
    height: 12px;
    cursor: pointer;
}


/* 멜론 인기컨텐츠 */
#wrap2 {margin: 60px 0;}

#wrap2 .content {
    margin: 20px auto 80px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
}

div.video {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div.video div {
    width: 32%;
    font-size: 12px;
    margin: 10px 0;
}

div.video div span {
    font-weight: 500;
    color: #00CD3C
}

div.video div img {width: 100%;}


/* 재생목록, 최신음악, 선호음악 */
/* 같은 css 적용 */
#wrap3 {
    line-height: 30px;
    margin: 60px 0;
}

#wrap3 .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

#wrap3 p {
    width: 100%;
    line-height: 20px;
}

#wrap3:first-child p {line-height: 25px;}

#wrap3 .content>div {
    width: 19%;
    height: 80%;
}

#wrap3 div div p span {
    font-size: 12px;
    opacity: 0.7;
}

#wrap3 div div img {width: 100%;}

/* 재생목록 */
.dj {color: #919191}

.dj span {
    font-weight: 500;
    color: #00CD3C;
}

.tag { /* 해시태그 */
    font-size: 10pt;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #919191
}


/* 뮤직웨이브 광고*/
#wrap4 {
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
}

#wrap4 img {width: 100%;}


/* 플레이어 */


.total {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.playing {/* 전체 요소 */
    width: 100%;
    height: 78px;
    box-shadow: 0 0 4px;
    position: fixed;
    bottom: -80px;
    background-color: white;
    transition: 0.3s;
}

.playing1 { /* 배경색 */
    width: 100%;
    height: 78px;
    position: fixed;
    bottom: -80px;
    background-color: white;
}

.player_length { /* 재생 전체 */
    width: 100%;
    height: 3px;
    background-color: #b1ffc9;
    position: fixed;
    bottom: 75;
}

.player_length_playing { /* 재생중인 길이 */
    width: 0%;
    height: 3px;
    background-color: #00CD3C;
    position: fixed;
    bottom: 75;
}

.detail {height: 100%;} /* 화면 전체 채우기 */

.player { /* 내부 요소 묶음 */
    padding: 8px 0 2px 0;
    display: flex;
    justify-content: center;
    overflow:hidden;
}

.player img.fold { /* 펼쳤을 때 이미지 */
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.player .column { /* 정렬 변경 토글 */
    flex-flow: column nowrap;
    text-align: center;
    margin: 0;
    justify-content: flex-start;
}

.player #info { /* 정보 묶음 */
    display: flex;
    transition: 0.3s;
}

.player img { /* 플레이어 내 앨범 이미지 */
    width: 65px;
    height: 65px;
}

.controler {height: 20px;}/* 컨트롤러 */

.controler img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.controler img:nth-child(1) {opacity: 0.5;}

.controler img:nth-child(2) {
    opacity: 0.5;
    margin: 0 23px 0 20px;
}

.controler img:nth-child(4) {margin: 0 20px 0 23px;}

.controler img.select1 {opacity: 1;}

#lyrics {
    margin-top: 30px;
    height: 550px;
    overflow: scroll;
    text-align: center;
    transition: 1s;
}

#title {
    font-size: 14pt;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 15px;
}

#singer {
    font-size: 10pt;
    margin-left: 15px;
}


/* 꽉 찬 화면 */

@media screen and (min-width:1100px) {
    div.ChartIn img[alt="plus"] {
        display: block;
        scale: 0.8;
    }

    #btn2 input {width: 230px;}
}

/* 중간 사이즈 화면 */

@media screen and (max-width:1099px) {

    #wrap3 {margin: 5% 0;}

    #wrap3 .content>div {
        width: 24%;
        height: 80%;
    }

    #wrap3 .content>div:last-of-type {display: none;}
}

/* 작은 사이즈 */
@media screen and (max-width:700px) {
    .content {width: 90%;}

    #btn,#btn2 {margin-top: 10px;}

    #header ul {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        margin-top: 30px;
    }

    #header li {
        width: 28%;
        font-size: 1.2em;
        padding: 7px;
    }

    #wrap1 .content {flex-flow: row wrap;}

    #wrap1 {margin: 20px 0;}

    div.ChartIn {
        width: 100%;
        height: 400px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
    }

    div.ChartIn div {
        width: 50%;
        height: 20%;
    }

    div.ChartIn div img {height: 95%;}

    div.ChartIn img[title="hover"] {height: 95%;}

    div.MyMelon {
        margin-top: 80px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        align-content: center;
    }

    div.MyMelon div {
        width: 150px;
        height: 150px;
        background-color: brown;
        border-radius: 300px;
        margin-top: 0;
        margin-left: 20px;
    }

    .MyMelon .name {
        padding-top: 0px;
        padding-left: 20px;
        text-align: left;
    }

    #wrap2 .content {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    #wrap2 .bfore {margin: 0;}


    div.video {
        height: 630px;
        display: flex;
    }

    div.video div {
        width: 45%;
        overflow: hidden;
    }

    #wrap3 p {width: 100%;}

    #wrap3 .content>div {
        width: 45%;
        height: 80%;
    }

    #wrap3 .content>div:last-of-type {display: none;}

    #wrap3 div {margin-bottom: 20px;}

    .controler img:nth-child(1),
    .controler img:nth-child(2) {display: none;}

    footer p {font-size: 5pt; font-weight: 400;}

}